<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h1 id="slogan">И на Марсе будут яблони цвести!</h1>
        <h2>Список профессий</h2>
        <ul>
            <li>Фамилия: {{ surname }}</li>
            <li>Имя: {{ name }}</li>
            <li>Образование: {{ education }}</li>
            <li>Профессия: {{ profession }}</li>
            <li>Пол: {{ sex }}</li>
            <li>Мотивация: {{ motivation }}</li>
            <li>Готовы остаться на Марсе? {{ ready }}</li>

        </ul>
    </body>
</html>